<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence"
             version="2.0">
    <persistence-unit name="ArhiDoc"
                      transaction-type="RESOURCE_LOCAL">
        <class>ro.gsdata.arhidoc.entity.ProiectArhitectura</class>
        <class>ro.gsdata.arhidoc.entity.PA</class>
    </persistence-unit>
</persistence>
